import java.time.*
Date now = new Date()

workDir = '/projects/b1042/AndersenLab/work/'

process.cache = "lenient"


params {
    day = now.format("yyyMMdd")
    timestamp = now.format("yyyyMMdd-HH-mm-ss")
    tracedir = "pipeline-info"
}

executor {
    queueSize=500
    submitRateLimit=10
}


timeline {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_timeline.html"
}

report {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_report.html"
}


dag {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_dag.svg"
}
