
/*
    LOCAL

    For running the pipeline locally
*/

process {

    withLabel: xs {
        cpus = 2
        memory = 1.GB
    }

    withLabel: sm {
        cpus = 2
        memory = 2.GB
    }

    withLabel: md {
        cpus = 4
        memory = 2.GB
    }

    withLabel: lg {
        cpus = 4
        memory = 2.GB
    }

    withLabel: ml {
        cpus = 4
        memory = 2.GB
    }

    withLabel: xl {
        cpus = 4
        memory = 4.GB
    }

}

docker {
    enabled = true
}